<form class='horizontal-form' method='post' action='https://blogtrottr.com'>
    <div class="input-group">
        <span class="input-group-addon"><p>Enter email:</p></span>
        <input type='text' class='form-control' name='btr_email' >
        <span class="input-group-btn">
            <input class="btn" type='submit' value='Follow this feed via email' />
        </span>
        <input type='hidden' name='btr_url' value='https://mlsnyder.github.io/developer-dot//feed.xml' />
        <input type='hidden' name='schedule_type' value='0' />
    </div>
</form>